QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=api_docs
QDRANT_API_KEY=$(openssl rand -base64 32)
EMBEDDING_MODEL_NAME=mxbai-embed-large
VECTOR_SIZE=1024
SECRET_KEY=$(openssl rand -base64 32)
API_KEY=ollama
OLLAMA_HOST=host.docker.internal
OLLAMA_PORT=11434
OLLAMA_MODEL=ollama/my-api-docs

REDIS_PASSWORD=$(openssl rand -base64 32)
FLOWER_USER=admin
FLOWER_PASSWORD=STRONG_PASSWORD
ENVIRONMENT=production
